

.products-slider {
  padding: 10px 0;
}

.card.product-card {
  width: 100% !important;
  max-width: 220px;
  height: 400px;
  margin: auto;
}

@media (max-width: 768px) {
  .carousel-image {
    height: 150px;
  }

  .card.product-card {
    max-width: 200px;
    height: 400px;
  }

  .product-details p,
  .product-brand p,
  .card-mrp p,
  .card-price span {
    font-size: 0.9rem;
    margin: 0;
  }

  .card-price span {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .carousel-image {
    height: 100px;
  }

  .card.product-card {
    max-width: 200px;
    max-height: 400px;
  }

  .product-details p,
  .product-brand p,
  .card-mrp p {
    font-size: 0.9rem;
    margin: 0;
  }

  .card-price span {
    font-size: 20px;
  }
}